<% include ./partials/header %>

<h1>
	Index
</h1>

<p>
	<a href="/register">Sign Up</a>
</p>



<a href="/adopt">Adopt a Dog</a>
<p>
	
</p>

<a href="/show">Show all dogs</a>

<p>
	
</p>
<a href="/chat">Chat with the homies</a>

<p>
	
</p>
<a href="/testCollection">Test Collection</a>

<p>
	
</p>
<a href="/searchCard">Search for a card</a>

<% include ./partials/footer %>