<form action="adopt" method="POST">
	<input type="text" name="dog[name]" placeholder="Name Your New Dog">
	<input type="text" name="dog[breed]" placeholder="What is the breed?">
	<input type="text" name="dog[image]" placeholder="Image (paste img url)">
	<button>
		Adopt!
	</button>
</form>