<DOCTYPE html>
<html>
    <head>
        <title>Practice Website</title>
		<!-- bootstrap		 -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- google sign in		 -->
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="531510728797-d1tb7h42pao1jsiofoaoubmgobngn3kv.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
